In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('school.csv')

In [3]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
2,2,S0972.0011.2021,ERICA CHARLES MALIMA,NATIONAL INSTITUTE OF TRANSPORT (NIT),FREIGHT CLEARING AND FORWARDING,College,KINONDONI MC - DAR ES SALAAM
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA

In [4]:
data = data[data['type'] != 'College']

In [5]:
data.type.unique()

array(['Boarding School', 'Teachers College', 'Technical', 'Day School',
       'Special School', 'Health and Allied'], dtype=object)

In [6]:
data = data[data['type'] != 'Health and Allied']

In [7]:
data = data[data['type'] != 'Teachers College']

In [8]:
data = data[data['type'] != 'Technical']

In [9]:
data

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA
...,...,...,...,...,...,...,...
36308,13,S1408.0061.2021,SHABO BILIA SALES,NAWENGE SECONDARY SCHOOL,CBG,Boarding School,ULANGA DC - MOROGORO
36309,0,S2443.0001.2021,ANITHA LEONARD MDEMU,LUGOBA SECONDARY SCHOOL,PCM,Boarding School,CHALINZE DC - PWANI
36312,3,S2443.0026.2021,GEORGE EMMANUEL LUTUBIJA,KAHORORO SECONDARY SCHOOL,HKL,Boarding School,BUKOBA MC - KAGERA
36313,4,S2443.0032.2021,SAMWELI PETRO DENIS,IHUNGO SECONDARY SCHOOL,EGM,Boarding School,BUKOBA MC - KAGERA
36314,5,S2443.0033.2021,THOMAS ALEXANDER DAUD,MAWELEWELE SECONDARY SCHOOL,CBG,Boarding School,IRINGA MC - IRINGA

In [10]:
courses = data.course.unique()

In [11]:
courses

array(['HGK', 'HKL', 'EGM', 'HGL', 'CBG', 'PCB', 'PCM', 'HGE', 'PGM',
       'ECA', 'KLF', 'KEC', 'CBN', 'PMCs', 'CBA'], dtype=object)

In [12]:
len(courses)

15

In [13]:
H = 'History'
G = 'Geography'
K = 'Kiswahili'
L = 'English Language'
E = 'Economics'
M = 'Advance Mathematics'
C = 'Chemistry'
B = 'Bilogy'
p = 'Physics'
A = 'Agriculture'
F = 'Franch'
N = 'Neutrition'

In [14]:
subjects = {'HGK':[], 'HKL':[], 'EGM':[], 'HGL':[], 'CBG':[], 'PCB':[], 'PCM':[], 'HGE':[], 'PGM':[],
       'ECA':[], 'KLF':[], 'KEC':[], 'CBN':[], 'PMCs':[], 'CBA':[]}

In [15]:
j = 0
while True:
    comb = courses[j]
    subj = ''
    for i in comb:
        if i == 'H': 
            subj = 'History'
        
        elif i == 'G': 
            subj='Geography'
        
        elif i == 'K': 
            subj='Kiswahili'
        
        elif i == 'L': 
            subj='English Language'
        
        elif i == 'E': 
            subj='Economics'
        
        elif i == 'M': 
            subj='Advance Mathematics'
        
        elif i == 'C': 
            subj='Chemistry'
        
        elif i == 'B': 
            subj='Bilogy'
        
        elif i == 'P': 
            subj='Physics'
        
        elif i == 'A': 
            subj='Agriculture'
        
        elif i == 'F': 
            subj='Franch'
        
        elif i == 'N': 
            subj='Neutrition'
        subjects[comb].append(subj)
    j +=1
    if j ==15:
        break

In [16]:
subjects

{'HGK': ['History', 'Geography', 'Kiswahili'],
 'HKL': ['History', 'Kiswahili', 'English Language'],
 'EGM': ['Economics', 'Geography', 'Advance Mathematics'],
 'HGL': ['History', 'Geography', 'English Language'],
 'CBG': ['Chemistry', 'Bilogy', 'Geography'],
 'PCB': ['Physics', 'Chemistry', 'Bilogy'],
 'PCM': ['Physics', 'Chemistry', 'Advance Mathematics'],
 'HGE': ['History', 'Geography', 'Economics'],
 'PGM': ['Physics', 'Geography', 'Advance Mathematics'],
 'ECA': ['Economics', 'Chemistry', 'Agriculture'],
 'KLF': ['Kiswahili', 'English Language', 'Franch'],
 'KEC': ['Kiswahili', 'Economics', 'Chemistry'],
 'CBN': ['Chemistry', 'Bilogy', 'Neutrition'],
 'PMCs': ['Physics', 'Advance Mathematics', 'Chemistry', 'Chemistry'],
 'CBA': ['Chemistry', 'Bilogy', 'Agriculture']}

In [17]:
subjects['ECA'][1] = 'Commerce'
subjects['PMCs'][2] = 'Computer'

In [18]:
category = {'HGK':[], 'HKL':[], 'EGM':[], 'HGL':[], 'CBG':[], 'PCB':[], 'PCM':[], 'HGE':[], 'PGM':[],
       'ECA':[], 'KLF':[], 'KEC':[], 'CBN':[], 'PMCs':[], 'CBA':[]}

In [19]:
for comb in courses:
    depart = ''
    for i in comb:
        if i == 'H' or i == 'K' or i == 'L':
            depart = 'Arts'
        elif i == 'P' or i == 'C':
            depart = 'Science'
        elif i == 'E':
            depart = 'Economics'
    category[comb].append(depart)

In [20]:
category

{'HGK': ['Arts'],
 'HKL': ['Arts'],
 'EGM': ['Economics'],
 'HGL': ['Arts'],
 'CBG': ['Science'],
 'PCB': ['Science'],
 'PCM': ['Science'],
 'HGE': ['Economics'],
 'PGM': ['Science'],
 'ECA': ['Science'],
 'KLF': ['Arts'],
 'KEC': ['Science'],
 'CBN': ['Science'],
 'PMCs': ['Science'],
 'CBA': ['Science']}

In [21]:
category['ECA'][0]= 'Economics'
category['KEC'][0] = 'Economics'

In [22]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA

In [23]:
courses

array(['HGK', 'HKL', 'EGM', 'HGL', 'CBG', 'PCB', 'PCM', 'HGE', 'PGM',
       'ECA', 'KLF', 'KEC', 'CBN', 'PMCs', 'CBA'], dtype=object)

In [24]:
subj_depart = {'History':[], 'Geography':[], 'Kiswahili':[], 'English Language':[], 'Economics':[], 'Advance Mathematics':[], 'Chemistry':[], 'Bilogy':[], 'Physics':[], 'Agriculture':[], 'Franch':[], 'Neutrition':[],'Commerce':[], 'Computer':[]}

In [25]:
all_subjects = ['History', 'Geography', 'Kiswahili', 'English Language', 'Economics', 'Advance Mathematics', 'Chemistry', 'Bilogy', 'Physics', 'Agriculture', 'Franch', 'Neutrition', 'Commerce', 'Computer']

In [26]:
for i in all_subjects:
    if i == 'History':
        subj_dept ='Arts'
    elif i == 'Geography':
        subj_dept ='Science'
    elif i == 'Kiswahili':
        subj_dept ='Arts'
    elif i == 'English Language':
        subj_dept ='Arts'
    elif i == 'Economics':
        subj_dept ='Economics'
    elif i == 'Advance Mathematics':
        subj_dept ='Science'
    elif i == 'Chemistry':
        subj_dept ='Science'
    elif i == 'Bilogy':
        subj_dept ='Science'
    elif i == 'Physics':
        subj_dept ='Science'
    elif i == 'Agriculture':
        subj_dept ='Science'
    elif i == 'Franch':
        subj_dept = 'Arts'
    elif i == 'Neutrition':
        subj_dept ='Science'
    elif i == 'Commerce':
        subj_dept ='Economics'
    elif i == 'Computer':
        subj_dept ='Science'
    subj_depart[i].append(subj_dept)

In [27]:
subj_depart

{'History': ['Arts'],
 'Geography': ['Science'],
 'Kiswahili': ['Arts'],
 'English Language': ['Arts'],
 'Economics': ['Economics'],
 'Advance Mathematics': ['Science'],
 'Chemistry': ['Science'],
 'Bilogy': ['Science'],
 'Physics': ['Science'],
 'Agriculture': ['Science'],
 'Franch': ['Arts'],
 'Neutrition': ['Science'],
 'Commerce': ['Economics'],
 'Computer': ['Science']}

In [28]:
for index ,row  in data.iterrows():
    course=row["course"]
    subject = subjects[course]
    department = category[course]
    data.at[index,"Department"]=department[0]
    data.at[index,"Subjects1"]=subject[0]
    data.at[index,"Subjects1_deparment"]=subj_depart[subject[0]][0]
    
    data.at[index,"Subjects2"]=subject[1]
    data.at[index,"Subjects2_deparment"]=subj_depart[subject[1]][0]
    data.at[index,"Subjects3"]=subject[2]
    data.at[index,"Subjects3_deparment"]=subj_depart[subject[2]][0]
    data.at[index,"Subjects4"]='General Studies'
    data.at[index,"Subjects4_deparment"]='GS'
    
    if course == 'PCB' or course == 'CBG' or course == 'HGE' or course == 'CBN' or course == 'KEC':
         
        data.at[index,"Subjects5"]='Basic Applied Mathematics'
        data.at[index,"Subjects5_deparment"]='Science'
    else:
        data.at[index,"Subjects5"]='--'
        data.at[index,"Subjects5_deparment"]='Science'

In [29]:
data['Level'] = 'Advance'

In [30]:
data['class1'] = 'Form Five'
data['class1'] = 'Form Six'

In [31]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location,Department,Subjects1,Subjects1_deparment,Subjects2,Subjects2_deparment,Subjects3,Subjects3_deparment,Subjects4,Subjects4_deparment,Subjects5,Subjects5_deparment,Level,class1
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA,Arts,History,Arts,Geography,Science,Kiswahili,Arts,General Studies,GS,--,Science,Advance,Form Six
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA,Arts,History,Arts,Geography,Science,Kiswahili,Arts,General Studies,GS,--,Science,Advance,Form Six
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,GS,--,Science,Advance,Form Six
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,GS,--,Science,Advance,Form Six
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,GS,--,Science,Advance,Form Six

In [32]:
data[data['course'] == 'PCM']['Department'].iloc[0]

'Science'

In [33]:
for i in range(1,4):
    print(i)

1
2
3

In [34]:
data.columns

Index(['Unnamed: 0', 'number', 'name', 'school_selected', 'course', 'type',
       'location', 'Department', 'Subjects1', 'Subjects1_deparment',
       'Subjects2', 'Subjects2_deparment', 'Subjects3', 'Subjects3_deparment',
       'Subjects4', 'Subjects4_deparment', 'Subjects5', 'Subjects5_deparment',
       'Level', 'class1'],
      dtype='object')

In [35]:
data.course.unique()

array(['HGK', 'HKL', 'EGM', 'HGL', 'CBG', 'PCB', 'PCM', 'HGE', 'PGM',
       'ECA', 'KLF', 'KEC', 'CBN', 'PMCs', 'CBA'], dtype=object)

In [36]:
import random

In [37]:
def checking_subject(timetable, subject):
    is_present = False
    for tb in timetable:
        for tb_depa in tb:
            if tb['subject'] == subject:
                is_present =True
    return is_present

In [38]:
def checking_subject_Comb(subject, combs):
    for comb in combs:
        course_data = data[data['course'] ==comb].iloc[0]
        # dumping data to an array
        subjects_data = []
        
        for i in range(1,5):
            subject_txt = 'Subjects'+str(i)

In [39]:
def A_Level_timetable(combs):
    
    timetable = []
    for comb in combs:
        course_data = data[data['course'] ==comb].iloc[0]
        # dumping data to an array
        subjects_data = []
        
        for i in range(1,5):
            subject_txt = 'Subjects'+str(i)
            subject_depa_txt = 'Subjects'+str(i)+ '_deparment'
            subjects_data.append({'subject':course_data[subject_txt],
                            'department':course_data[subject_depa_txt]})
        
        start_time = [8,2]
        total_subject = len(subjects_data)
        subjects_data_copy  =total_subject
        i=total_subject
        while True:
            total_subject = len(subjects_data)
            index = random.randint(0,total_subject)
            try:
                value = subjects_data[index-1]
                subjects_data.remove(value)
                if i%2 == 0:
                    if not checking_subject(timetable=timetable, subject=value['subject']):
                        timetable.append(
                            {'seasion':'morning',
                            'subject':value['subject'],
                            'start_time':start_time[1],
                            'end_time': start_time[1]+3
                            })
                else:
                    if not checking_subject(timetable=timetable, subject=value['subject']):
                        timetable.append(
                        {'seasion':'afternoon',
                        'subject':value['subject'],
                        'start_time':start_time[0],
                        'end_time': start_time[0]+3
                        })
            except:
                pass
            i-=1
            
            if i <=1:
                break 

        value =subjects_data[0]
        if subjects_data_copy%2 == 0:
            if not checking_subject(timetable=timetable, subject=value['subject']):
                        
                timetable.append(
            {'seasion':'morning',
            'subject':value['subject'],
            'start_time':start_time[1],
            'end_time': start_time[1]+3
            })
        else:
            if not checking_subject(timetable=timetable, subject=value['subject']):            
                timetable.append(
            {'seasion':'afternoon',
            'subject':value['subject'],
            'start_time':start_time[0],
            'end_time': start_time[0]+3
            })
        
    return timetable
A_Level_timetable(['HKL', 'HGK', 'PCM', 'PCB', 'CBG'])

[{'seasion': 'morning', 'subject': 'History', 'start_time': 2, 'end_time': 5},
 {'seasion': 'afternoon',
  'subject': 'Kiswahili',
  'start_time': 8,
  'end_time': 11},
 {'seasion': 'morning',
  'subject': 'English Language',
  'start_time': 2,
  'end_time': 5},
 {'seasion': 'morning',
  'subject': 'General Studies',
  'start_time': 2,
  'end_time': 5},
 {'seasion': 'morning',
  'subject': 'Geography',
  'start_time': 2,
  'end_time': 5},
 {'seasion': 'morning',
  'subject': 'Advance Mathematics',
  'start_time': 2,
  'end_time': 5},
 {'seasion': 'morning',
  'subject': 'Chemistry',
  'start_time': 2,
  'end_time': 5},
 {'seasion': 'morning', 'subject': 'Physics', 'start_time': 2, 'end_time': 5},
 {'seasion': 'afternoon',
  'subject': 'Bilogy',
  'start_time': 8,
  'end_time': 11}]

In [40]:
subjects

{'HGK': ['History', 'Geography', 'Kiswahili'],
 'HKL': ['History', 'Kiswahili', 'English Language'],
 'EGM': ['Economics', 'Geography', 'Advance Mathematics'],
 'HGL': ['History', 'Geography', 'English Language'],
 'CBG': ['Chemistry', 'Bilogy', 'Geography'],
 'PCB': ['Physics', 'Chemistry', 'Bilogy'],
 'PCM': ['Physics', 'Chemistry', 'Advance Mathematics'],
 'HGE': ['History', 'Geography', 'Economics'],
 'PGM': ['Physics', 'Geography', 'Advance Mathematics'],
 'ECA': ['Economics', 'Commerce', 'Agriculture'],
 'KLF': ['Kiswahili', 'English Language', 'Franch'],
 'KEC': ['Kiswahili', 'Economics', 'Chemistry'],
 'CBN': ['Chemistry', 'Bilogy', 'Neutrition'],
 'PMCs': ['Physics', 'Advance Mathematics', 'Computer', 'Chemistry'],
 'CBA': ['Chemistry', 'Bilogy', 'Agriculture']}

In [41]:
data.to_csv('advance.csv', index=False)