In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Qeuestions.csv')

In [3]:
data.head()

,Subject,Class,Topic,Questions
0,Chemistry,Form One,NTRODUCTION TO Chemistry,rainstorm the meaning of Chemistry
1,Chemistry,Form One,NTRODUCTION TO Chemistry,explain the concept of Chemistry
2,Chemistry,Form One,NTRODUCTION TO Chemistry,mention material and objects made by the appli...
3,Chemistry,Form One,NTRODUCTION TO Chemistry,mention areas where Chemistry is applied.
4,Chemistry,Form One,NTRODUCTION TO Chemistry,state the importance of Chemistry in daily life

In [4]:
data.dropna(inplace=True)

In [5]:
data.head()

,Subject,Class,Topic,Questions
0,Chemistry,Form One,NTRODUCTION TO Chemistry,rainstorm the meaning of Chemistry
1,Chemistry,Form One,NTRODUCTION TO Chemistry,explain the concept of Chemistry
2,Chemistry,Form One,NTRODUCTION TO Chemistry,mention material and objects made by the appli...
3,Chemistry,Form One,NTRODUCTION TO Chemistry,mention areas where Chemistry is applied.
4,Chemistry,Form One,NTRODUCTION TO Chemistry,state the importance of Chemistry in daily life

In [6]:
exam_format_id = []
for qn in data['Questions']:
    if 'explain the concept' in qn:
        exam_format_id.append('Short Note')
    elif 'mention' in qn:
        exam_format_id.append('Short Answers')
    else:
        exam_format_id.append('Essay')

In [7]:
data['category'] = exam_format_id

In [8]:
data.head()

,Subject,Class,Topic,Questions,category
0,Chemistry,Form One,NTRODUCTION TO Chemistry,rainstorm the meaning of Chemistry,Essay
1,Chemistry,Form One,NTRODUCTION TO Chemistry,explain the concept of Chemistry,Short Note
2,Chemistry,Form One,NTRODUCTION TO Chemistry,mention material and objects made by the appli...,Short Answers
3,Chemistry,Form One,NTRODUCTION TO Chemistry,mention areas where Chemistry is applied.,Short Answers
4,Chemistry,Form One,NTRODUCTION TO Chemistry,state the importance of Chemistry in daily life,Essay

In [9]:
data['Class'].unique()

array(['Form One', 'Form Two', 'Form Three'], dtype=object)

In [10]:
data['Subject'].unique()

array(['Chemistry'], dtype=object)

In [11]:
data['Topic'].unique()

array(['NTRODUCTION TO Chemistry', 'LABORATORY TECHNIQUES AND SAFETY',
       'THE SCIENTIFIC PROCEDURE', 'MATTER', 'ELEMENTS AND COMPOUNDS',
       'AIR COMBUSTION RUSTING AND FIRE FIGHTING', 'OXYGEN', 'HYDROGEN',
       'WATER', 'FUELS AND ENERGY', 'ATOMIC STRUCTURE',
       'PERIODIC CLASSIFICATION', 'FORMULA BONDING AND NOMENCLATURE',
       'CHEMICAL EQUATIONS', 'HARDNESS OF WATER', 'ACIDS BASES AND SALTS',
       'THE MOLE CONCEPT AND RELATED CALCULATIONS', 'VOLUMETRIC ANALYSIS',
       'IONIC THEORY AND ELECTROLYSIS',
       'CHEMICAL KINETICS EQUILIBRIUM AND ENERGETICS',
       'COMPOUNDS OF METALS'], dtype=object)

In [12]:
data['category'].unique()

array(['Essay', 'Short Note', 'Short Answers'], dtype=object)

In [13]:
data['answers'] = ''

In [14]:
currulumn = {'subject':[], 'class':[], 'topic':[]}
student_class = data['Class'].unique()
for stClass in student_class:
    content_class = data [data['Class'] == stClass]
    subjects = content_class['Subject'].unique()
    for subject in subjects:
        subject_content = data [data['Subject'] == subject]
        topics = subject_content['Topic'].unique()
        for topic in topics:
            currulumn['subject'].append(subject)
            currulumn['class'].append(stClass)
            currulumn['topic'].append(topic)

In [15]:
curiculumn_dataset = pd.DataFrame(currulumn)

In [16]:
curiculumn_dataset.to_csv('currulumn.csv')

In [17]:
curiculumn_dataset

      subject       class                                         topic
0   Chemistry    Form One                      NTRODUCTION TO Chemistry
1   Chemistry    Form One              LABORATORY TECHNIQUES AND SAFETY
2   Chemistry    Form One                      THE SCIENTIFIC PROCEDURE
3   Chemistry    Form One                                        MATTER
4   Chemistry    Form One                        ELEMENTS AND COMPOUNDS
..        ...         ...                                           ...
58  Chemistry  Form Three     THE MOLE CONCEPT AND RELATED CALCULATIONS
59  Chemistry  Form Three                           VOLUMETRIC ANALYSIS
60  Chemistry  Form Three                 IONIC THEORY AND ELECTROLYSIS
61  Chemistry  Form Three  CHEMICAL KINETICS EQUILIBRIUM AND ENERGETICS
62  Chemistry  Form Three                           COMPOUNDS OF METALS

[63 rows x 3 columns]

In [18]:
data.to_csv('../final_generatedQuestions.csv', index=False)